<div class="page-header">
  <h1>
    My Likes
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Photo</th>
        <th>Actions</th>
      </tr>

      <% @my_liked_photos.each do |photo| %>
       <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="link"><%= photo.user.username %></a>
          <small>
            <%= time_ago_in_words(photo.created_at) %> ago
          </small>
        </h3>
      </div>
      
      <div class="panel-body">
        <a href="/photos<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>

      <% if photo.fans != [] %>
        <small>
          <%= photo.fans.pluck(:username).to_sentence %>
          <% if photo.fans.count == 1 %>
            likes 
          <% else %>
            like
          <% end %>
          this
        </small>
      <% end %>

      <% if current_user.likes.find_by(photo_id: photo.id) == nil %>   
       <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <input type="hidden" name="photo_id" value="<%= photo.id %>">

              <input type="hidden" name="user_id" value="<%= current_user.id %>">

              <button class="btn btn-link pull-right">
                <i class="fa fa-fw fa-heart-o"></i>

                Like
              </button>
            </form>
        </p>

      <% else %>
        <a href="/delete_like/<%= photo.id %>" class="btn btn-link pull-right">
          <i class="fa fa-fw fa-heart"></i> Unlike
        </a>
      
      <% end %>
    
      <div>
        <%= photo.caption %>
      </div>
    
      <% photo.comments.each do |comment|%>
        <li class="media">
          <div class="media-body">
            <h6 class="media-heading">
              <a href="/users/<%= comment.user_id %>"><%= comment.user.username %></a>
              <small>
                1 day ago
              </small>
            </h6>
              <%= comment.body %>
          </div>
        </li>
        
      <% end %>
        
      <li class="media">
        <div class="media-body">
          <form action="/create_comment" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" name="photo_id" value="<%= photo.id %>">

            <input type="hidden" name="user_id" value="<%= current_user.id %>">

            <!-- Label and input for body -->
            <div class="form-group">
              <label for="body" class="sr-only">
                Body
              </label>

              <div class="input-group">
                <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-fw fa-commenting-o"></i>

                    Add Comment
                  </button>
                </span>
              </div><!-- /input-group -->
            </div>
           </form>
          
          
            </div>
          </li>

        <td>
          <% if photo.user_id == current_user.id %>
            <div class="btn-group btn-group-justified">
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </div>
          <% end %>
        </td>

        </div>
    
       </div>
      <% end %>
    </table>
  </div>
</div>
